@charset "utf-8";

/* common */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


img {
  vertical-align: bottom;
}

.btn {
  background-color: green;
  color: white;
  padding: 8px 16px;
  border-radius: 8px;
  display: inline-block;
}

.container {
  max-width: 800px;
  margin: 0 auto;
}

/* header */

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
}

/* hero */
.hero {
  background-color: skyblue;
  background-image: url(bg.png);
  background-repeat: repeat-x;
  background-position: center bottom;
  text-align: center;
  padding-top: 64px;
}


.logo-pc {
  display: none;
}

.logo-sp {
  display: inline;
}


h2,
h3 {
  font-weight: normal;
  text-align: center;
}

.hero img {
  margin-top: 64px;
}

.hero .btn {
  margin-top: 64px;
}

/* .features */
.features {
  padding: 64px 16px;
}

.feature {
  margin-top: 64px;
}

.feature div {
  text-align: center;
}

.feature h3 {
  margin-top: 16px;
}

.feature p {
  margin-top: 16px;
}

/* footer */

footer {
  background-color: #333;
  color: white;
  padding: 64px 0;
  text-align: center;
}

small {
  font-size: 14px;
}

/* large screen */

@media (min-width: 600px) {

  /* header */
  .hero-inner {
    display: flex;
    align-items: center;
  }

  .hero-inner div {
    flex: 1;
  }

  .logo-sp {
    display: none;
  }

  .logo-pc {
    display: inline;
  }

}