@charset "utf-8";

/* common */


body {
  margin: 0;
}

img {
  vertical-align: bottom;
}

.btn {
  background-color: green;
  color: white;
  padding: 8px 16px;
  border-radius: 8px;
display: inline-block;
}

/* header */

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
}

/* hero */
.hero {
  background-color: skyblue;
  background-image: url(bg.png);
  background-repeat: no-repeat;
  background-position: center bottom;
  text-align: center;
  padding-top: 64px;
}

.logo-pc {
  display: none;
}
h1 {
  margin: 0;
  font-size: 0;
}

h2 {
  margin: 0;
  font-weight: normal;
  text-align: center;
}

h3 {
   margin: 0;
  font-weight: normal;
}

p {
  margin: 0;
}

.hero  img {
  margin-top: 64px;
}

.hero .btn {
  margin-top: 64px;
}

/* .features */
.features {
 padding: 64px 16px;
}

.feature {
   margin-top: 64px;
}

.feature div{
text-align: center;
}

.feature h3  {
  margin-top: 16px;
}

.feature p {
  margin-top: 16px;
}

/* footer */

footer {
  background-color: #333;
  color: white;
  padding: 64px 0;
  text-align: center;
}

small {
  fontsize: 14px;
}

/* large screen */

@media (min-width: 600px) {
/* header */

.logo-sp {
  display: none;

  .logo-pc {
    display: inline;
  }
}
}

